<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Visualization Project</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/styles.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

<div class="bg">

    <div class="header_container">
        <h1>InfoVis VU 2026 - Project</h1>
        <p class="student_info">Enter your name and student number</p>
    </div>

    <div class="top_content">
        <button class="layer_button" type="button">{{"Layer 1"}}</button>
        <button class="layer_button" type="button">{{"Layer 2"}}</button>
        <button class="layer_button" type="button">{{"Layer 3"}}</button>
    </div>
    <div class="main_content">
        <div class="lineplot_box">
            <div id="map"></div>
            <p>This is a placeholder text.</p>
        </div>

        <div class="choose_box">
            <p>Select Year</p>
            <select id="year_change" class="dropdown"></select>
            <p>Select Data:</p>
            {% for name in columns %}
            <label class="choose_dataset_block">
                <input type="checkbox" class="choose_datasets" value="{{name}}" unchecked>
                {{name}}
            </label>
            {% endfor %}
        </div>
        <div class="top3_box">
            <p>Top N Countries</p>
            <ol id="top_n_list"></ol>
            </div>
    </div>
    <div class="bottom_content"><p>Space for (optional): link to an explanation of the index calculation, scatterplot index vs gdp</p>
        <div id="scatterplot"></div>
        <div id="tooltip"></div>
    </div>
</div>

<script>
    const data = {{ data | safe }};
    const columns = {{ columns | safe }};
</script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{url_for('static',filename='js/map.js')}}"></script>
    <script src="{{url_for('static',filename='js/updateTopN.js')}}"></script>
    <script src="{{url_for('static',filename='js/tooltip.js')}}"></script>
    <script src="{{url_for('static',filename='js/scatterplot.js')}}"></script>
    <script src="{{url_for('static',filename='js/dropdown.js')}}"></script>

</body>
</html>